<% content_for :title do %>
<h1><%= link_to "< #{month(@account.month)} #{@account.year}", root_path %></h1>
<% end %>

<p>
  <strong>Доступная трата:</strong>
  <%= @spending_limit %>р
</p>

<p>
  <strong>Осталось денег:</strong>
  <%= @account.money %>р
</p>

<p>
  <strong>Записи:</strong>
  <% if @days_filled < days(@account.month) %>
    <%= form_tag new_record_account_path(@account) do %>
    	<%= number_field_tag :value %>
    	<%= text_field_tag :desc %>
    	<%= submit_tag 'Новая запись' %>
    <% end %>
  <% end %>
  <% @account.records.reverse_each do |record| %>
  	<div>
      <p>
        <%= form_tag edit_record_account_path(@account) do %>
          <i><%= record.day %></i>:
          <%= hidden_field_tag :day, record.day %>
          <%= number_field_tag :value, record.value %>
          <%= text_field_tag :desc, record.desc %>
          <%= submit_tag 'Обновить' %>
        <% end %>
      </p>
    </div>
  <% end %>
</p>
