<% content_for :title do %>
<h1><%= link_to "< #{month(@account.month)} #{@account.year}", root_path %></h1>
<% end %>

<div class="normal-padding">

  <div>
    <p class="label">
      Остаток
    </p>
    <p class="money-left">
      <%= @account.money %>р
    </p>
  </div>

</div>

<div class="dark-box">

  <table class="records">

    <% if @days_filled < days(@account.month) %>
      <tr>
        <td>+</td>
        <%= form_tag new_record_account_path(@account) do %>
          <td><%= number_field_tag :value, nil, placeholder: "Доступно: #{@spending_limit}р", class: "invisible_field record_value" %></td>
          <td><%= text_field_tag :desc, nil, placeholder: "Необязательно", class: "invisible_field record_desc" %></td>
          <td><%= submit_tag 'Добавить' %></td>
        <% end %>
      </tr>
    <% end %>

    <% @account.records.reverse_each do |record| %>
      <tr>
        <td><%= record.day %></td>
        <%= form_tag edit_record_account_path(@account), class: "record_form" do %>
          <%= hidden_field_tag :day, record.day %>
          <td class="<%= record.value < record.limit ? "bad" : "good" %>"><%= text_field_tag :value, record.value, class: "invisible_field record_value" %></td>
          <td><%= text_field_tag :desc, record.desc, class: "invisible_field record_desc" %></td>
          <td><%= submit_tag 'Обновить' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>